body {
    background-size: cover;
    background-color: rgba(169, 169, 169,1);
}
#wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-login {
    max-width: 400px;
    background: rgba(235, 232, 232, 0.8);
    padding: 12px 12px;
    flex-grow: 1;
    padding: 50px 50px 60px;
    text-align: center;
}

.form-group {
    margin-top: 15px;
    margin-bottom: 20px;
}
.form-input {
    background: transparent;
    padding: 8px 8px;
    font-size: 18px;

}

.form-submit {
    width: 10rem;
    text-transform: uppercase;
}